
:root{
--cor-de-fundo: #f7f5dd;
--cor-do-cabeçalho: rgba(12, 119, 17, 0.671);
--cor-de-fundo-2: #cbf7ba;
--cor-de-borda: black;
--cor-de-texto-2: whitesmoke;
}

body{
background-color: var(--cor-de-fundo);
font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;

}

header{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid var(--cor-de-borda);
    color: var(--cor-de-texto-2);
    background-color: var(--cor-do-cabeçalho);
    
    
}

.titulo{
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black, -1px 1px 0 black;
}

.imagem{
    width: 30%;
    border: 4px solid;
    border-radius: 20px;
    margin: 5px 0;

}

.papa{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.hamert{
    width: 150%;
    border: 4px solid;
    border-radius: 20px;
    margin: 5px 0;
}

.gif{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    align-items: flex-start;
}

.origem{
  background-color: var(--cor-de-fundo);
  border: 4px solid;
  border-radius: 20px;
  margin: 5px 0;
  padding: 15px;
  box-shadow: 0 2px 5px;
}

.apresentacao{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 5px 0;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid var(--cor-de-borda);
    background-color: var(--cor-de-fundo-2);
}

.beneficios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid var(--cor-de-borda);
    background-color: var(--cor-de-fundo-2);
}

.comidas-rurais{
    width: 20%;
    border: 4px solid;
    border-radius: 20px;
    margin: 5px 0;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black, -1px 1px 0 black;
}

footer{
    display: flex;
    justify-content: center;
    margin: 5px 0;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid var(--cor-de-borda);
    background-color: var(--cor-do-cabeçalho);
    color: var(--cor-de-texto-2);
       
    
}
