
:root{
--cor-de-fundo: #80f380;
--cor-do-cabeçalho: rgba(12, 119, 17, 0.671);
--cor-de-fundo-2: #cbf7ba;
--cor-de-borda: black;
}

body{
background-color: var(--cor-de-fundo);
font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;

}

header{
    display: flex;
    align-items: center;
    color: whitesmoke;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    background-color: var(--cor-do-cabeçalho);
    border: 2px solid var(--cor-de-borda);
    

}

img{
    width: 8%;
}

.imagem{
    width: 20%;

}

.apresentacao{
    display: flex;
    background-color: var(--cor-de-fundo-2);
    border: 2px solid var(--cor-de-borda);
    margin: 5px 0;
    padding: 15px;
    border-radius: 20px;
    justify-content: flex-start;

}

.beneficios{
    display: flex;
    border: 2px solid var(--cor-de-borda);
    background-color: var(--cor-de-fundo-2);
    margin: 5px 0;
    padding: 15px;
    border-radius: 20px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.comidas-rurais{
    width: 20%;
}

footer{
    display: flex;
    justify-content: center;
    background-color: var(--cor-do-cabeçalho);
    color: black;
    border: 2px solid var(--cor-de-borda);
    margin: 5px 0;
    padding: 15px;
    border-radius: 20px;
    
    
}
